*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main-container h2 {
  margin-bottom: 1.5em;
}
@media screen and (max-width: 1024px) {
  .main-container {
    font-size: 0.9rem;
    grid-template-columns: 1fr;
  }
  .main-container h2 {
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .main-container {
    font-size: 0.85rem;
  }
}
@media screen and (max-width: 360px) {
  .main-container {
    font-size: 0.85em;
  }
}

.box-documentation {
  border-right: 0.1em solid #A0A7AC;
  padding: 5em;
}
@media screen and (max-width: 1024px) {
  .box-documentation {
    border: none;
    padding: 4em 4em 0;
  }
}
@media screen and (max-width: 767px) {
  .box-documentation {
    padding: 3em 2.5em 0;
  }
}
.box-documentation ul, .box-documentation table {
  margin: 1em 0;
}
.box-documentation li:not(:last-child) {
  margin-bottom: 0.5em;
}
.box-documentation p {
  line-height: 1.5em;
}

.box-test {
  padding: 5em;
}
@media screen and (max-width: 1024px) {
  .box-test {
    border: none;
    padding: 4em;
  }
}
@media screen and (max-width: 767px) {
  .box-test {
    padding: 3em 2.5em;
  }
}
.box-test .container-input {
  margin-bottom: 2em;
}
.box-test .container-input p {
  margin-bottom: 1em;
}
.box-test .container-input .get-number {
  max-width: 12em;
  padding: 0.75em;
  margin-right: 0.75em;
  border: 0.1em solid #A0A7AC;
  border-radius: 0.4em;
}
.box-test .container-input .get-number:focus {
  border: 0.1em solid #00B4D8;
  border-radius: 0.4em;
}
@media screen and (max-width: 360px) {
  .box-test .container-input .get-number {
    max-width: 9em;
  }
}
.box-test .container-input .btn-send {
  cursor: pointer;
  padding: 0.75em 1.5em;
  color: white;
  background-color: #2A3B47;
  border: none;
  border-radius: 0.4em;
}
.box-test .container-input .btn-send:hover {
  background-color: #00B4D8;
}
@media screen and (max-width: 360px) {
  .box-test .container-input .btn-send {
    padding: 0.75em 1em;
  }
}
.box-test .container-table {
  display: none;
}
.box-test .container-table table:first-child {
  margin-bottom: 1em;
}
@media screen and (max-width: 1024px) {
  .box-test .container-table table:first-child {
    margin: 0;
  }
}

.message-alert {
  margin-top: 1em;
  color: #ed4337;
}

header {
  padding: 5em 0;
  background-color: #00B4D8;
}
header h1 {
  text-align: center;
  color: white;
}
@media screen and (max-width: 1024px) {
  header {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 767px) {
  header {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 720px) {
  header {
    font-size: 0.7em;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4em 5em;
  background-color: #192229;
}
@media screen and (max-width: 360px) {
  footer {
    font-size: 0.95rem;
  }
}
@media screen and (max-width: 767px) {
  footer {
    font-size: 0.85rem;
    padding: 4em 3em;
  }
}
@media screen and (max-width: 510px) {
  footer {
    flex-direction: column;
  }
}

.copyright p, .copyright a {
  color: white;
}
.copyright p:hover a {
  color: #00B4D8;
}
.copyright p a {
  text-decoration: underline;
}
@media screen and (max-width: 510px) {
  .copyright {
    margin-bottom: 2.5em;
  }
}

.content-social-media {
  display: flex;
  list-style: none;
  align-items: center;
}
.content-social-media li:not(:last-child) {
  margin-right: 1.2em;
}
@media screen and (max-width: 360px) {
  .content-social-media li:not(:last-child) {
    margin-right: 1em;
  }
}
.content-social-media li:hover span {
  color: #00B4D8;
}
.content-social-media span {
  font-size: 1.7em;
  color: white;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

a:link, a:visited, a:active {
  text-decoration: none;
}

body {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #2A3B47;
}

table {
  width: 100%;
  border: 0.1em solid #A0A7AC;
  padding: 1em;
}
table th, table tr, table td {
  border: 0.1em solid #A0A7AC;
  padding: 0.5em;
  text-align: center;
}

ul li {
  list-style-position: inside;
}

@font-face {
  font-family: "icomoon";
  src: url("/fonts/icomoon.ttf?w6iylk") format("truetype"), url("/fonts/icomoon.woff?w6iylk") format("woff"), url("/fonts/icomoon.svg?w6iylk#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.icon-linkedin:before {
  content: "\e900";
}

.icon-github:before {
  content: "\e901";
}

.icon-instagram:before {
  content: "\e902";
}

.icon-twitter:before {
  content: "\e903";
}

/*# sourceMappingURL=styles.css.map */
